extends extend/_layout

block title
  title Home :: My Library

block content
  h1.header #{title} HOME
    a.header__link(href="/search") Go Search

  section.my-books
    h2.my-books__title MY BOOKS
    ul.my-books__list
      li.my-books__item 1