<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Result</title>
</head>
<body>
	Result page <%= start %>
	<div>
		<% books.forEach(book => { %>
			<div> <%= `${book.title}` %></div>
		<% }) %>
	</div>
	<div>
		<button type="button"></button>
	</div>
</body>
</html>